body{
    font-family: 'Roboto', sans-serif;
}

button { cursor: pointer;}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}



/* ================COMPONENTS================ */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

:root {
    --main-background-color: #FFFFFF ;
    --accent-main-color:#4D5AE5;
    --accent-secondary-color:#404BBF;
    --main-title-color: #2E2F42 ; 
    --secondary-title-color:#434455; 
    --secondary-background-color:#F4F4FD;
    --animation-dur-function: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}   
/* ================/COMPONENTS================ */

/* ================HEADER================ */
.page-header-container{
display: flex;
}

.page-nav{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}
.address{
    margin-left: auto;
    align-items: center;
}

.address-list{
    display: flex;
    align-items: center;
}
.logo-img {
    margin-right: 76px;
}

.menu-item:not(:last-child){
    margin-right: 40px;
}

.mail{
    margin-right: 40px;
}



.page-header {
    background: var(--main-background-color);
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-second {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-main-color);
}

.logo-img {
    display: flex;
    align-items: center;

    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-title-color);
}

.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);

    transition: color var(--animation-dur-function);
}

.mail,
.contact-number {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);

    transition: color var(--animation-dur-function);
}
.address-item {
    display: flex;
    align-items: center;
}

.mail {
    margin-left: auto;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-secondary-color);
}

.mail:hover,
.mail:focus {
    color: var(--accent-secondary-color);
}

.contact-number:hover,
.contact-number:focus {
    color: var(--accent-secondary-color);
}


/* ================/HEADER================ */
/* ================MAIN================ */



.main {
    height: 600px;
    max-width: 1440px;
    background-size: cover;
    background-position:center ;
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(/images/hero/bg.jpg);
    background-color: #2E2F42;
    margin-right: auto;
    margin-left: auto;
}



.main-title {
    padding-top: 188px; 
    margin-bottom: 48px;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;

        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--main-background-color)
}


.main-btn {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: transparent;

    font-family:inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--main-background-color);
    background-color: var(--accent-main-color); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color var(--animation-dur-function);
}

.main-btn:hover,
.main-btn:focus {
    background-color: var(--accent-secondary-color);
}


/* ================/Main================ */
/* ================Features================ */

.features{
    padding-bottom: 120px;
    padding-top: 120px;
}

.feature-icon{
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    margin-bottom: 8px;
}

.feature-list-icon{
    /* display: flex;
    justify-content: center;
     */
}


.feature-list{
    display: flex;
    margin-right: -24px;
    /* margin-bottom: 0px; */
}

.feature-list > .feature-item{
flex-basis: calc(100% /4 - 24px);
margin-right: 24px;
}

.feature-title{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}
.feature-info{
    margin-top: 8px;

    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
}
/* ================/Features================ */
/* ================Doing================ */
.doing{
    padding-bottom: 120px;
}

.doing-list {
    display: flex;
    gap: 24px;
}

.doing-title{
    margin-bottom: 72px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
}
/* ================/Doing================ */
/* ================Team================ */
.team {
    background: var(--secondary-background-color);
    padding-bottom: 120px;
    padding-top: 120px;
}

.team-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
}

.team-list{
    display: flex;
    margin-left: -24px;
}

.team-list > .team-item {
    flex-basis: calc(100% / 4 - 24px);
    margin-left: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
}


.team-info{
    padding: 32px 16px;
    background: #FFFFFF;
}



.team-name{
    text-align: center;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}
.team-position{
    text-align: center;
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
}




.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-main-color);

    transition: background-color var(--animation-dur-function);
}

.social-list-link:hover,
.social-list-link:focus{
    background-color: var(--accent-secondary-color)
}

.social-list-icon{
    fill: #F4F4FD;
}


/* ================/Team================ */
/* ================Customers================ */
.customers{
    padding-top: 135px;
    padding-bottom: 115px;
} 

.customers-title{
    margin-bottom: 72px;
}

.customers-title{
    text-align: center;

    font-family: 'Roboto';
    
    font-size: 36px;
    line-height: 40px;
}

.customers-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.customers-item-link{
    display: flex;

    padding: 16px 32px;

    border: 1px solid #8E8F99;
    border-radius: 4px;

    transition: border-color var(--animation-dur-function);
}

.customers-icon{
    fill:  #8E8F99; 
    transition: fill var(--animation-dur-function);
}

.customers-item-link:is(:hover, :focus) {
    border-color: var(--accent-secondary-color);
}


.customers-item-link:is(:hover, :focus) .customers-icon {
    fill: var(--accent-secondary-color);
}


/* ================/Customers================ */

/* ================Footer================ */
.footer {
    background: var(--main-title-color);
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-section{
    display: flex;
}


.footer-logo-img{
    font-family: 'Raleway';sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.7;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-background-color);
}
.footer-logo-second {
    font-family: 'Raleway';sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.7;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-main-color);
}

.footer-text {
    max-width: 264px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    /* outline: 2px solid tomato; */
}

.social{
    margin-left: 120px;
    margin-right: 80px;
}

.social-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.social-item{
    margin-right: 0px;
}

.social-icon{
    fill: var(--secondary-background-color);
} 

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #434455;

    transition: background-color var(--animation-dur-function);
}

.social-link:is(:hover, :focus) {
    background-color: #31D0AA;
}



.subscribe{

}

.subscribe-title{
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.subscribe-form{
    display: flex;
}

.subscribe-fill{
    margin-right: 24px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 0px 8px 16px;
    color: #FFFFFF;

}

.subscribe-fill:focus{
    outline: none;
}

.subscribe-fill::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    background:var(--accent-main-color);
    border-radius: 4px;
    border: transparent;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.subscribe-btn::after{
    display: block;
    content:'';
    background-color: #31D0AA;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    background-image: url(/images/plane.svg);
}



/* ================/Footer================ */
/* ================modalwindow================ */

.backdrop{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity var(--animation-dur-function), visibility var(--animation-dur-function);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    background-color: var(--main-background-color);
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
}

.modal-close-btn{
    transition: background-color var(--animation-dur-function), 
        fill var(--animation-dur-function);
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--accent-main-color) ;
}

.modal-close-btn:hover .modal-close-btn-icon{
    fill: var(--main-background-color)
}

.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--main-background-color)
}

.modal-form{

}

.modal-form-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal-form-input-desc{
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-form-input-wrapper{
    display: block;
    position: relative;
}



.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding: 11px 0px 11px 38px;
}

.modal-form-input:focus{
    outline: none;
    border-color: var(--accent-main-color);
}

.modal-form-input:focus + .modal-icon{
    fill: var(--accent-main-color);
}

.modal-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: #2E2F42;
}

.modal-form-comment{
    display: block;
    margin-bottom: 16px;
}

.modal-form-message{
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;

}

.modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox{
    display: block;
    margin-right: 8px;
}




.checkbox-text{
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;
}

.checkbox-text::before{
    content:'';
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}

.checkbox:checked + .checkbox-text::before{
    background-color: var(--accent-secondary-color);
    background-image: url(/images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: var(--accent-secondary-color);

}   

.checkbox:focus + .checkbox-text::before {
    outline: 2px solid var(--accent-main-color);

}

.form-btn{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    min-width: 169px;
    border: transparent;
    
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-background-color);
    background-color: var(--accent-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    transition: background-color var(--animation-dur-function);
    }

.form-btn:hover,
.form-btn:focus {
    background-color: var(--accent-secondary-color);
}





/* ================/modalwindow================ */

/*  !!!!!!!!!!!!!!!!NEXT PAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* ============PORTFOLIO=================================== */
/* ============btn================ */

.filter-list>.filter-item+.filter-item { 
    margin-left: 24px;
}


.filter-list{
    display: flex;
    justify-content: center;
    align-items: center;
}


.filter-btn{

    margin-bottom: 72px; 
    overflow: 2px solid tomato;
    padding: 12px 24px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--accent-main-color);
    cursor: pointer;
    background: var(--secondary-background-color);
    border: 1px solid transparent;
    border-radius: 4px;

    transition: color var(--animation-dur-function), background-color var(--animation-dur-function)
}

.filter-btn:hover,
.filter-btn:focus{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--main-background-color);
        background: var(--accent-secondary-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            }
/* ============/btn================ */
/* ============list project============ */



.portfolio{
    padding-bottom: 120px;
    padding-top: 96px;
}

.project-list {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin-left: -24px;
    margin-bottom: -48px;
    /* background-color: #4D5AE5; */
}


.project-list > .list-item {
    flex-basis: calc(100% / 3 -24px);
margin-left: 24px;
margin-bottom: 48px;
}


/* .list-item:not(:nth-child(3n)) {
    margin-right: 24px;
}
.list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 48px;
} */




.list-item{
    
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    background: #FFFFFF;
}

.list-item:is(:hover,:focus){
    border:  #F4F4FD;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-info {
    padding: 32px 0px 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: transparent;
}

.project-name{
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}
.project-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
}

.link-wrapper:hover .overlay,
.link-wrapper:focus .overlay {
    transform: translate(0, 0);
}

.overlay-img-wrapper{
position: relative;
overflow: hidden;
}


.overlay{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
transform: translate(0, 100%);
transition: transform var(--animation-dur-function);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

padding: 40px 32px;

color: var(--secondary-background-color);
background-color: var(--accent-main-color)

}
/* ============/list project============ */